img {
    display: block;
    width: 900px;
    margin: auto;
}

.imagesizep1 {
   height: 920px;
   width: 550px;
   background-color: aqua;
}

.containerimgp1 {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.containerimgelementp1 {
    display: inline-block;
}
.sexyladycontainer {
    position:sticky;
    top:3px;
    left:30px;
}
.sexylady {
    height: 300px;
    width: auto;
    position:absolute;
    size: 50%;
    top: 3px;
    right:3px;
}